{% extends 'admin/master.html' %}

{% block body %}
        <div class=" contact_right">
            <h3>Contact with us</h3>
            <div class="contact-form">

                <address class="address">
                    <p>01 Vo Van Ngan, p.Linh Chieu, q.Thu Duc, TP.HCM</p>
                    <dl>
                        <dt> </dt>
                        <dd>Telephone:<span> +84 366036372</span></dd>
                        <dd>E-mail:&nbsp; <a href="info.book@nbstore.com">info.book@nbstore.com</a></dd>
                    </dl>
                </address>
            </div>
        </div>
{% endblock %}